* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
.selectProducts {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.selectProductsContainer {
  width: 400px;
  height: 400px;
  border: 2px blue solid;
  background-color: aliceblue;
}
.productsContainer {
  margin-top: 30px;
  padding: 20px 40px;
  width: 100%;
  display: flex;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 100px;
  border-bottom: 2px blue solid;
  justify-content: center;
}
.productItem {
  display: flex;
  gap: 5px;
  text-align: center;
}
.elemItem {
  font-weight: bold;
}
.buttonDelete {
  border: none;
  background-color: aliceblue;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
}
.delete {
  display: flex;
  gap: 5px;
}
