body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.01em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
.selectProducts {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
}
.selectProductsContainer {
  width: 352px;
  min-height: 400px;
  padding: 10px 30px;
  padding-bottom: 50px;
  border-radius: 30px;
  background: lightgrey;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}
.productsContainer {
  margin-top: 30px;
  width: 100%;
  display: flex;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 30px;
  border-bottom: 1px rgba(0, 0, 0, 0.404) solid;
  justify-content: center;
}
.productItem {
  display: flex;
  gap: 7px;
  text-align: center;
}
.elemItem {
  font-weight: bold;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.267);
  padding: 5px;
  border-radius: 10px;
}
.elemItem.inCard {
  background: #fff1f2; /* мягкий красный фон */
  border: 1px solid #fecdd3; /* нежная граница */
  color: #7f1d1d; /* глубокий красный текст */
  font-weight: 500;
  transition: all 0.2s ease;
}
.item:hover {
  background: #ffe4e6;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(225, 29, 72, 0.15);
}

.buttonDelete {
  border: none;
  background-color: aliceblue;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
}
.delete {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 30px;
}
.deleteBtn {
  background: #fff;
  border: none;
  padding: 5px 10px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 70px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
}
.deleteBtn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(20, 20, 20);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}
.deleteBtn:hover {
  color: #fff;
}

.deleteBtn:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}
